header{
}

body{
  font-size:16px;
}

nav{
  margin: auto;
  padding: 20px 0 10px 0;
  width: 60%;
}

.nav-list >  a{
  width: 100%;
}
.nav-list {
  width:25%;
}

.mid{
  margin: auto;
  width:100%;
}

.section{
  margin: auto;
  width: 100%;
}

article{
  width: 70%;
  margin: auto;
}

.post{
  margin: auto;
  width:70%;
}

.post-list{
  width: 60%;
}

.recommend{
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}

.iner_recommend{
  width: 70%;
  margin:auto;
}


.prev_next{
  width: 70%;
  margin: auto;
}


hr{
  width: 60%;
}

.comment{
  width: 60%;
  margin: auto;
}

footer{
  clear : both;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}


@media screen and (min-width: 415px) and (max-width: 800px){ /* 중앙 메뉴바를 없애든 수정해야됨*/
  body{
    font-size:14px;
  }

  nav{
    margin: auto;
    padding: 20px 0 10px 0;
    width: 70%;
  }

  .nav-list >  a{
    width: 100%;
  }
  .nav-list {
    width:25%;
  }

  .mid{
    margin: auto;
    width:100%;
  }

  .section{
    margin: auto;
    width: 100%;
  }

  article{
    width: 80%;
    margin: auto;
  }


  .post{
    margin: auto;
    width:70%;
  }

  .post-list{
    width: 60%;
  }

  .recommend{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
  }

  .iner_recommend{
    width: 70%;
    margin:auto;
  }


  .prev_next{
    width: 80%;
    margin: auto;
  }


  hr{
    width: 60%;
  }

  .comment{
    width: 60%;
    margin: auto;
  }

  footer{
    clear : both;
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }
}


@media screen and (max-width: 414px){
  body{
    font-size:12px;
  }

  nav{
    margin: auto;
    padding: 20px 0 10px 0;
    width: 85%;
  }

  n.nav-list >  a{
    width: 100%;
  }
  .nav-list {
    width:25%;
  }


  .mid{
    margin: auto;
    width:100%;
  }

  .section{
    margin: auto;
    width: 100%;
  }

  article{
    width: 90%;
    margin: auto;
  }


  .post{
    margin: auto;
    width:80%;
  }

  .post-list{
    width: 80%;
  }

  .recommend{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
  }

  .iner_recommend{
    width: 80%;
    margin:auto;
  }


  .prev_next{
    width: 90%;
    margin: auto;
  }


  hr{
    width: 80%;
  }

  .comment{
    width: 80%;
    margin: auto;
  }

  footer{
    clear : both;
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }
}
