.sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  color :white;
  overflow-x: hidden;
  transition: width 0.1s;
  padding-top: 15px;
  padding-left: 0;
}
.user{
  width:200px; 
}
.sidebar > li{
  list-style: none;
}

.side-list{
  text-decoration: none;
  color : white;
  display: inline-block;
  border-left: 2px solid white;
  padding: 5px 0 5px 30px;
  width: 200px;
  font-size: 1.1em;
}

.side-list:hover{
  color: black;
  background-color: white;
}
