<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
    <!- 로고 이미지 넣고 싶으면 위에 주석 해제 후 꺽쇠 넣어주기, a tag class를 logo로 바꿔 -->
      {% else %}
      <span>{{ site.logo }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
				{% include nav_links.html %}
      </ul>
    </nav>
  </div>
</header>
