<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Keywords" content="html,css,js,,c,c++,python,머신러닝">
  <meta name="Robots" content="all">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/base16_dark.css"> 
  <link rel="stylesheet" type="text/css" href="/css/dynamic.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/js/sidebar.js"></script>
</head>
