<div class="sidebar" id="side">
  <span class="hover-close">&nbsp<a class="close-button" onclick='closesidebar()' style="display:inline;"><i class="fa fa-chevron-left"></i></a></span><br><br>
  <div class="user">
    <div style="font-size:25px; line-height:200%"><b>User</b></div>
    <i class="fa fa-user-circle-o" style="font-size: 1em;"></i>
    <span>qkrwhdah03</span><br>

  </div>
  <br><br>
    <span style="font-size:25px; line-height:200%"><b>Classification</b></span>
    <li><a class="side-list" href="">Algorithm</a></li>
    <li><a class="side-list" href="">C/C++</a></li>
    <li><a class="side-list" href="">Python</a></li>
    <li><a class="side-list" href="">Machine Learning</a></li>
    <li><a class="side-list" href="">PS</a></li>
    <li><a class="side-list" href="">Others</a></li>
</div>
