<div class="sidebar" id="side">
  <br>
  <ul>
    <span style="font-size:25px; line-height:200%"><b>Classification</b></span>
    <span class="hover-close">&nbsp<a href="" class="close-button" onclick='closesidebar()' style="display:inline;"><i class="fa fa-chevron-left"></i></a></span>
    <li><a href="">Algorithm</a></li>
    <li><a href="">C/C++</a></li>
    <li><a href="">Python</a></li>
    <li><a href="">JS</a></li>
    <li><a href="">HTML</a></li>
    <li><a href="">CSS</a></li>
    <li><a href="">Machine Learning</a></li>
    <li><a href="">Others</a></li>
  </ul>
</div>
