---
layout : default
---
<article class="article">
  <div class="post">
    <div class="post-des">
      <h1 class="post-title">{{page.title}}</h1>
      <p style="text-align:center; color: grey; font-size:0.75em;"><i class="fa fa-calendar"></i> {{page.last_written}}&nbsp&nbsp&nbsp&nbsp<i class="fa fa-pencil"></i>  {{page.author}}</p>
      <p style="text-align:center; color: grey; font-size:0.75em;"><i class="fa fa-tag"></i> {{page.tag}}</p>
    </div>
    {{content}}
    <br><br>
  </div>
</article>

<br>

<div class="prev-next">
  <div style="width: 49%; text-align: left; display:inline-block; margin: auto;">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}" class="prev-next-button"> &nbsp이전글: {{page.previous.title}}</a>
    {% else %}
    {% endif %}
  </div>
  <div style="width: 49%; text-align: right; display: inline-block; magin:auto;">
    {% if page.next.url %}
      <a href="{{page.next.url}}" class="prev-next-button">다음글: {{page.next.title}} &nbsp</a>
    {% else %}
    {%  endif %}
  </div>
</div>

<br>

<div class="recommend">
  <div class="iner-recommend">
    <h4 style="align:center; font-size:1.0em">Recommend Posts related : {{page.tag}}</h4>
    <ul>
      {% assign count=0 %}
      {% for post in site.posts %}
        {% if post.tag == page.tag and post.title !=page.title %}
          {% assign count= count|plus:1 %}
            {% if count < 6 %}
              <li class="recommend-title"><a href={{post.url}}>{{post.title}}</a></li>
            {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    {% if count==0 %}
      <h5>I'm sorry. No posts related...</h5>
    {% endif %}
  </div>
</div>

<br><br>

<div class="comment">
{% include disqus_comments.html %}
</div>
